<app-header></app-header>

<div class="artistas-container">
  <h1>Nuestros Conciertos</h1>
  <!-- Recorre cada concierto y muestra la información -->
  <div *ngFor="let concierto of conciertos" class="artista-card">
    <img [src]="getImagenPorId(concierto.id_concierto)" alt="Imagen del concierto" class="artista-img">
    
    <div class="artista-details">
      <h2>{{ concierto.nombre_concierto }}</h2>
      <p>Lugar ID: {{ concierto.id_lugar }}</p> <!-- Muestra el ID del lugar -->
      <p>Fecha: {{ concierto.fecha_concierto | date }}</p>
      <p>Precio base: ${{ concierto.precio_base }}</p>
      <!-- Botón de Comprar -->
      <button (click)="comprar(concierto.id_concierto)" class="btn btn-comprar mt-3">Comprar</button>
    </div>
  </div>
</div>

<app-footer></app-footer>

<router-outlet></router-outlet>
