/* Cambiar el color del placeholder a blanco */

input::placeholder {
    color: white;
    opacity: 1;
    font-size: 16px; /* Cambiar tamaño del placeholder */
}

/* Estilos para los botones de sesión y registro */
.btn-login, .btn-register {
    background-color: #2f2e5a;
    color: white;
    border: none;
    width: 140px; /* Ancho personalizado */
    height: 40px;
    font-size: 14px; /* Tamaño de letra */
    font-family: 'Arial', sans-serif; /* Cambiar el estilo de la fuente */
    font-weight: lighter;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Ajuste de la barra de búsqueda */
.input-group {
    display: flex;
    align-items: center;
    position: relative; /* Necesario para el posicionamiento del ícono */
}

.input-group-text {
    background-color: transparent; /* Fondo transparente para el ícono */
    border: none; /* Elimina el borde alrededor del ícono */
    color: white; /* Color del ícono */
}

.form-control {
    font-size: 14px; /* Ajustar el tamaño de la fuente del input */
    font-family: 'Arial', sans-serif;
    width: 349.11px;
    height: 40px;
    padding-right: 10px; /* Ajusta el padding a la derecha del input de búsqueda */ /* Ajusta el padding a la izquierda del input para dejar espacio al icono */
    background-color: #2f2e5a; /* Fondo del input */
    color: white; /* Color del texto del input */
    border: none; /* Elimina el borde del input */
    padding-left: 20px;
}

/* Ajustar el padding del título del navbar */
.navbar-brand {
    margin-right: 50px; 
    margin-left: 20px;
}

/* Añadir padding alrededor del navbar */
.navbar {
    padding: 10px 20px; /* Ajusta el padding general del navbar */
    overflow-x: auto; /* Enable horizontal scrolling if needed */
    white-space: nowrap; /* Prevent wrapping of content */
}

/* Añadir padding a los botones de sesión y registro */
.d-flex.ms-3 {
    padding-left: 90px; 
    padding-right: 20px;
}

/* Estilos para pantallas más pequeñas */
@media (max-width: 991px) { /* Ajusta el punto de ruptura según sea necesario */
    .input-group {
        padding-left: 0; /* Elimina el padding en pantallas más pequeñas */
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-brand {
        margin-right: 0;
        margin-left: 0;
    }
    .d-flex.ms-3 {
        padding-left: 0;
        padding-right: 0;
    }
}


.footer {
    padding: 10px 7.2px;
    background-color: #424182;
    color: white;
    text-align: center;
    width: 100%;
    margin-top: auto; 
    white-space: nowrap; 
  }

.footer-link {
    text-decoration: none;
    font-size: 14px;
    font-family: 'Arial', sans-serif;
    font-weight: lighter;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-link i {
    color: #90752A;
}

@media (max-width: 991px) {
    .footer {
        padding: 0; /* Elimina el padding en pantallas pequeñas */
        display: flex;
        justify-content: space-between; /* Distribuye los íconos uniformemente */
        align-items: center; /* Centra los íconos verticalmente */
        flex-direction: row; /* Alinea los íconos horizontalmente */
    }

    .footer ul {
        display: flex; /* Asegúrate de que la lista de elementos sea flexbox */
        justify-content: space-around; /* Distribuye los elementos */
        width: 100%; /* Asegura que los elementos ocupen todo el ancho */
        padding: 0;
        margin: 0;
    }

    .footer .nav-item {
        margin: 0 10px; /* Margen horizontal entre los íconos */
        list-style: none;
    }

    .footer .nav-link {
        display: flex; /* Asegúrate de que el ícono y el texto estén en la misma fila */
        align-items: center;
        color: white; /* Asegúrate de que el texto sea visible */
    }

    .footer .nav-link i {
        margin-right: 5px; /* Añade un pequeño margen entre el ícono y el texto */
        color: #90752A; /* Color del ícono */
    }
}
