
<!DOCTYPE html>

<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Boxicons -->
	<link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
	<!-- My CSS -->
  <link rel="stylesheet" href="dashboard-layout.component.css">

	<title>AdminHub</title>
</head>
<body>


	<!-- SIDEBAR -->
	<section id="sidebar">
		<a href="" class="brand">

			<img src="assets/conciertopp.png">
			
			<span class="text">ConcierTop</span>
		</a>
		<ul class="side-menu top">
			<li >
				<a href="">
					<i class='bx bxs-dashboard' ></i>
					<span class="text">Tablero</span>
				</a>
			
			<li>
				<a href="">
				<i class='bx bxs-calendar-check'></i>
					<span class="text">Lista de conciertos</span>
				</a>
			</li>
			<li>
				<a href="">
				<i class='bx bxs-receipt' ></i>
					<span class="text">Boletos vendidos</span>
				</a>
			</li>
      <li>
				<a href="">
				<i class='bx bxs-receipt' ></i>
					<span class="text">Total en boletos</span>
				</a>
			</li>
      <li>
				<a href="">
				<i class='bx bxs-receipt' ></i>
					<span class="text">Reporte</span>
				</a>
			</li>


		    
		</ul>
		<ul class="side-menu">
			<li>
				<a href="">
					<i class='bx bxs-cog' ></i>
					<span class="text">Nuevo Admin</span>
				</a>
			</li>
			<li>
				<a href="" class="logout">
				<i class='bx bxs-x-square bx-rotate-90' ></i>
					<span class="text">Salir</span>
				</a>
			</li>
		</ul>
	</section>
	<!-- SIDEBAR -->



	<!-- CONTENT -->
	<section id="content">
		<!-- NAVBAR -->
		 <nav>
			<i class='bx bx-menu' ></i>
			

			<div class="user-info">
				<i class='bx bxs-user-circle'></i>
				<span class="user-name">¡Hola,</span>
			</div>
		
		</nav>
		<!-- NAVBAR -->

		
		<!-- MAIN -->
	</section>
	<!-- CONTENT -->
	

</body>
</html>


