.artistas-container {
    text-align: center;
    font-family: Arial, sans-serif;
  }
  
  .artista-card {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
    border-radius: 10px;
    background-color: #f9f9f9;
  }
  
  .artista-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 20px;
  }
  
  .artista-details {
    text-align: left;
  }
  