<app-header></app-header>

<div class="ticket-container">
  <h2 class="ticket-title">Tus compras</h2>

  <div *ngIf="boletos.length > 0; else noTickets">
    <div *ngFor="let boleto of boletos" class="ticket-details">
      <div class="ticket-info">
        <h3 class="concert-title">{{ boleto.concierto }}</h3>
        <div class="ticket-columns">
          <div *ngIf="boleto.localidad" class="info-column">
            <p>Localidad</p>
            <p><strong>{{ boleto.localidad }}</strong></p>
          </div>
          <div *ngIf="boleto.cantidad" class="info-column">
            <p>Cantidad</p>
            <p><strong>{{ boleto.cantidad }}</strong></p>
          </div>
          <div *ngIf="boleto.precio_final" class="info-column">
            <p>Precio</p>
            <p><strong>${{ boleto.precio_final }}</strong></p>
          </div>
          <div *ngIf="boleto.fecha_compra" class="info-column">
            <p>Fecha</p>
            <p><strong>{{ boleto.fecha_compra | date: 'dd MMM yy' }}</strong></p>
          </div>
          <div *ngIf="boleto.hora_compra" class="info-column">
            <p>Hora</p>
            <p><strong>{{ boleto.hora_compra }}</strong></p>
          </div>
          <div *ngIf="boleto.lugar" class="info-column">
            <p>Lugar</p>
            <p><strong>{{ boleto.lugar }}</strong></p>
          </div>
        </div>
      </div>
      <div *ngIf="boleto.qr_imagen" class="qr-code">
        <p><img [src]="boleto.qr_imagen" alt="QR Code" /></p>
      </div>
    </div>
  </div>

  <ng-template #noTickets>
    <div class="no-tickets">
      <p>No tienes boletos comprados aún.</p>
    </div>
  </ng-template>
</div>

<app-footer></app-footer>
<router-outlet></router-outlet>
