<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="proceso-compra.component.css">
</head>
<body>
    <!-- Llamada al componente Header -->
    <app-header></app-header>
    <img [src]="getImagenTopPorId(concierto?.id_concierto)" class="top-image" alt="Top Image">
    <div class="divider">
        <h2>Tu compra</h2>
    </div>

    <div class="compra-container">
        <div class="compra-info">
            <img [src]="getImagenPorId(concierto?.id_concierto)" class="ticket-image" alt="Ticket Image">
            <div class="ticket-info">
                <p>{{ concierto.nombre_concierto }}</p>
                <p>{{ concierto.fecha_concierto | date }}</p>
                <p>{{ concierto.id_lugar }}</p>
            </div>
        </div>

        <div class="resumen-compra">
            <h3>TOTAL DE LA COMPRA</h3>
            <div class="table-responsive">
              <table class="table table-bordered">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">Localidad</th>
                    <th scope="col">Cantidad</th>
                    <th scope="col">Precio Unitario</th>
                    <th scope="col">Total</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>{{ localidadSeleccionada }}</td>
                    <td>{{ cantidadBoletos }}</td>
                    <td>${{ precioBase.toFixed(2) }}</td>
                    <td>${{ (precioBase * cantidadBoletos).toFixed(2) }}</td>
                  </tr>
                  <tr>
                    <td colspan="3" class="text-right">Total</td>
                    <td>${{ (precioBase * cantidadBoletos).toFixed(2) }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          
          
          <div class="botones">
            <button class="editar-compra" (click)="editarCompra()">
              <i class="fas fa-edit"></i> Editar Compra
          </button>
          <button class="cancelar-compra" (click)="cancelarCompra()">
              <i class="fas fa-times"></i> Cancelar Compra
          </button>
          <button class="procesar-compra" (click)="procesarCompra()">
            <i class="fas fa-shopping-cart"></i> Procesar Compra
        </button>
        </div>
        <div class="formas-pago">
            <h3>Formas de pago</h3>
            <img class="pago-tarjeta" src="assets/tarjeta.png" alt="Tarjeta Crédito/Débito">
        </div>
        
    </div>

    
    <app-modal 
    [isVisible]="showModal" 
    [title]="modalTitle" 
    [message]="modalMessage" 
    (close)="closeModal()">
  </app-modal>
   

    <!-- Llamada al componente Footer -->
    <app-footer></app-footer>

    <!-- Angular Router Outlet -->
    <router-outlet></router-outlet>
</body>
</html>
