<!-- Footer -->
<footer class="footer navbar navbar-expand-lg" style="background-color: #424182;">
    <div class="container-fluid">
        <!-- Títulos de los enlaces -->
        <ul class="navbar-nav mb-2 mb-lg-0 ms-4">
            <!-- Inicio -->
            <li class="nav-item">
                <a class="nav-link" href="#" style="color: white;">
                    <i class="bi bi-house-door me-1" style="color: #90752A;"></i> INICIO
                </a>
            </li>
            <!-- Mis conciertos -->
            <li class="nav-item me-3">
                <a class="nav-link" routerLink="/artistas" style="color: white;">
                    <i class="bi bi-calendar-event me-1" style="color: #90752A;"></i> CONCIERTOS
                </a>
            </li>
            <!-- Boletos -->
            <li class="nav-item me-3">
                <a class="nav-link" routerLink="/boleto" style="color: white;">
                    <i class="bi bi-ticket-perforated me-1" style="color: #90752A;"></i> BOLETOS
                </a>
            </li>
            
        </ul>
    </div>
</footer>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.1/font/bootstrap-icons.min.css">


