<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <!-- Boxicons -->
	  <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="dashboard.component.css">
</head>
<body>
  <!-- Llamada al componente Header -->
  <app-dashboard-layout></app-dashboard-layout>

  <!-- CONTENT -->
  <section id="content">
    <!-- MAIN -->
    <main>
      <ul class="box-info">
        <!-- Botón para 'Total en boletos' -->
        <li (click)="navigateTo('conciertoscrud')" style="cursor: pointer;">
          
    
          <i class="bx bx-dollar"></i>

          <span class="text">
            <p>Agregar Artista</p>
            <span class="card-title"></span>
          </span>
        </li>

        <!-- Botón para 'Boletos vendidos' -->
        <li (click)="navigateTo('localidades')" style="cursor: pointer;">
          <i class="bx bx-money"></i>
          <span class="text">
            <p>Agregar Localidades</p>
            <span class="card-title"></span>
          </span>
        </li>
      </ul>
    </main>
    <!-- MAIN -->
  </section>
  <!-- CONTENT -->

  <!-- Angular Router Outlet -->
  <router-outlet></router-outlet>
</body>
</html>
