<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Concerts Carousel</title>
    <link rel="stylesheet" href="dashboard.component.css">
</head>
<body>
  <!-- Llamada al componente Header -->
<app-dashboard-layout></app-dashboard-layout>


<div class="dashboard-cards-container">
  <!-- Cuadro para 'Total en boletos' -->
  <div class="card" (click)="navigateTo('vendido')">
    <div class="card-content">
      <span class="card-title">$ 1500</span>
      <p>Total en boletos</p>
      <i class="fas fa-money-bill icon"></i>
    
    </div>
  </div>

  <!-- Cuadro para 'Boletos vendidos' -->
  <div class="card" (click)="navigateTo('totalboletos')">
    <div class="card-content">
      <span class="card-title">7</span>
      <p>Boletos vendidos</p>
      <i class="fas fa-ticket-alt icon"></i>
      
    </div>
  </div>
</div>


</body>
</html>
<!-- Angular Router Outlet -->
<router-outlet></router-outlet>


