/* Cambiar el color del placeholder a blanco */
body{
    overflow-x: hidden;
}
input::placeholder {
    color: white;
    opacity: 1;
    font-size: 16px; /* Cambiar tamaño del placeholder */
}

/* Estilos para los botones de sesión y registro */
.btn-login, .btn-register {
    background-color: #2f2e5a;
    color: white;
    border: none;
    width: 140px; /* Ancho personalizado */
    height: 40px;
    font-size: 14px; /* Tamaño de letra */
    font-family: 'Arial', sans-serif; /* Cambiar el estilo de la fuente */
    font-weight: lighter;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Ajuste de la barra de búsqueda */
.input-group {
    display: flex;
    align-items: center;
    position: relative; /* Necesario para el posicionamiento del ícono */
}

.input-group-text {
    background-color: transparent; /* Fondo transparente para el ícono */
    border: none; /* Elimina el borde alrededor del ícono */
    color: white; /* Color del ícono */
}

.form-control {
    font-size: 14px; /* Ajustar el tamaño de la fuente del input */
    font-family: 'Arial', sans-serif;
    width: 349.11px;
    height: 40px;
    padding-right: 10px; /* Ajusta el padding a la derecha del input de búsqueda */ /* Ajusta el padding a la izquierda del input para dejar espacio al icono */
    background-color: #2f2e5a; /* Fondo del input */
    color: white; /* Color del texto del input */
    border: none; /* Elimina el borde del input */
    padding-left: 20px;
}

/* Ajustar el padding del título del navbar */
.navbar-brand {
    margin-right: 50px; 
    margin-left: 20px;
}

/* Añadir padding alrededor del navbar */
.navbar {
    padding: 10px 20px; /* Ajusta el padding general del navbar */
    overflow-x: auto; /* Enable horizontal scrolling if needed */
    white-space: nowrap; /* Prevent wrapping of content */
}

/* Añadir padding a los botones de sesión y registro */
.d-flex.ms-3 {
    padding-left: 90px; 
    padding-right: 20px;
}
main {
    flex-grow: 1;
    overflow-y: scroll; /* Forza el scroll en main */
    
  }

/* Estilos para pantallas más pequeñas */
@media (max-width: 991px) { /* Ajusta el punto de ruptura según sea necesario */
    .input-group {
        padding-left: 0; /* Elimina el padding en pantallas más pequeñas */
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-brand {
        margin-right: 0;
        margin-left: 0;
    }
    .d-flex.ms-3 {
        padding-left: 0;
        padding-right: 0;
    }
}




